.movies-list {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.movies-list__list {
  padding-top: 80px;
  padding-bottom: 27px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, max(360px));
  gap: 57px 30px;
}

.movies__more {
  width: 100%;
  max-width: calc(100% - 140px);
  background-color: #2f2f2f;
  border-radius: 6px;
  border-style: none;
  padding: 10px 0;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 51px;
  transition: all .3s;
  cursor: pointer;
}

.movies__more:hover {
  opacity: .5;
}

@media screen and (max-width: 1239px) {

  .movies-list__list {
    grid-template-columns: repeat(auto-fill, 339px);
    gap: 40px 30px;
    padding-top: 67px !important;
  }
}

@media screen and (max-width: 800px) {
  .movies__more {
    margin-top: 34px;
    max-width: calc(100% - 60px);
    margin-bottom: 81px;
  }
}

@media screen and (max-width: 600px) {
  .movies-list__list {
    padding-top: 39px !important;
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 35px;
  }

  .movies__more {
    margin-top: 32px;
    margin-bottom: 81px;
    max-width: calc(100% - 20px);
  }
}