.app {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  background-color: #202020;
  color: #fff;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-rendering: optimizeLegibility;
  /* overflow-x: hidden; */
}
